* {
    margin top: o;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

h2 {
	text-align: center;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2 {
	margin-bottom: 1rem;

}

#succeed-info h3 {
	text-align: left;
	margin-bottom: 1rem;

}

#pre-footer {
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 0 rem;
    padding-bottom: 0;
    background-color: #002540;
    color: white;
    font-size: 1rem;
    border-bottom: 1px;
}

#pre-footer h3 {
    margin-bottom: .1rem;
    padding-top: .1rem;
}

#pre-footer .foot {
    text-align: left;
    margin-bottom: .1rem;
    display: inline-block;
    vertical-align: top;
    min-height: 120px;
    width: 15%;
    margin-right: 0.5rem;
}

#pre-footer #foot1 {
    padding-top: 5rem; ;
}


footer {
    padding: 0.7rem;
    text-align: left;
    margin-bottom: .3rem;
    margin-top: 1rem;

}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}